{namespace m=TYPO3\Media\ViewHelpers}

<f:layout name="Default"/>

<f:section name="Title">Basket</f:section>

<f:section name="Content">
	<f:if condition="{basket.items}">
		<f:then>
			<p>These books are currently in your shopping basket:</p>
			<div class="span12">
                <table class="table table-striped table-bordered" style="width:100%;">
                    <thead>
                        <tr>
                            <th colspan="2">
                                Book
                            </th>
                            <th>
                                Category
                            </th>
                            <th style="text-align:right;">
                                Amount
                            </th>
                            <th style="text-align:right;">
                                Price per piece
                            </th>
                            <th style="text-align:right;">
                                Total Price
                            </th>
                            <th style="text-align:right;width: 70px">
                                Actions
                            </th>
                        </tr>
                    </thead>
					<f:for each="{basket.items}" as="item">
                        <tr>
                            <td>
                                <f:if condition="{item.book.image}">
                                    <f:then>
                                        <m:image image="{item.book.image}" alt="{book.title}" maximumWidth="20" maximumHeight="30"  />
                                    </f:then>
                                    <f:else>
                                        <img src="http://placehold.it/30x20" width="300" alt="" />
                                    </f:else>
                                </f:if>
                            </td>
                            <td>
                                <f:link.action action="show" controller="Book" arguments="{book: item.book}">{item.book.title}</f:link.action>
                            </td>
                            <td>
                                <p>{item.book.category.name}</p>
                            </td>
                            <td style="text-align:right;">
                                <p><f:format.number decimals="0">{item.amount}</f:format.number></p>
                            </td>
                            <td style="text-align:right;">
                                <p><f:format.number>{item.book.price}</f:format.number> €</p>
                            </td>
                            <td style="text-align:right;">
                                <p><f:format.number>{item.price}</f:format.number> €</p>
                            </td>
                            <td>
                                <f:link.action action="increase" controller="Basket" arguments="{book: item.book}"><i class="icon icon-plus"></i></f:link.action>
                                <f:link.action action="decrease" controller="Basket" arguments="{book: item.book}"><i class="icon icon-minus" style="margin-left:6px;"></i></f:link.action>
                                <f:link.action action="remove" controller="Basket" arguments="{book: item.book}"><i class="icon icon-trash" style="margin-left:6px;"></i></f:link.action>
                            </td>
                        </tr>
					</f:for>
                    <tfoot>
                        <tr>
                            <td>
                            </td>
                            <td colspan="2">
                                <b>Total</b>
                            </td>
                            <td style="text-align:right;">
                                <p>{basket.amount}</p>
                            </td>
                            <td>
                            </td>
                            <td style="text-align:right;">
                                <b><f:format.number>{basket.total}</f:format.number> €</b>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tfoot>
                </table>
			</div>
		</f:then>
		<f:else>
			<p>Your shopping basket is empty.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="index" controller="Book">Back</f:link.action></p>
</f:section>
