<f:layout name="Default" />

<f:section name="Title">Login</f:section>

<f:section name="Content">

    <f:flashMessages />
    <f:form action="authenticate" class="form-horizontal well">
        <div class="control-group">
            <label class="control-label" for="login">
                Username:
            </label>
            <div class="controls">
                <f:form.textfield name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Password:
            </label>
            <div class="controls">
                <f:form.password name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <f:form.submit value="Login" class="btn" />
            </div>
        </div>
    </f:form>

</f:section>
