<f:layout name="Default" />

<f:section name="Title">Login</f:section>

<f:section name="Content">

    <f:flashMessages />

    You have been logged out of the System.
    <br />
    <f:link.action action="index" controller="Book">To the bookstore.</f:link.action>

</f:section>