<f:layout name="Default" />

<f:section name="Title">Sign up</f:section>

<f:section name="Content">

    <f:flashMessages />
    <f:form action="register" class="form-horizontal well">
        <div class="control-group">
            <label class="control-label" for="login">
                Username:
            </label>
            <div class="controls">
                <f:form.textfield name="username" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Password:
            </label>
            <div class="controls">
                <f:form.password name="password" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Confirm Password:
            </label>
            <div class="controls">
                <f:form.password name="passwordConfirm" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <f:form.submit value="Sign Up" class="btn" />
            </div>
        </div>
    </f:form>

</f:section>