{namespace m=TYPO3\Media\ViewHelpers}

<li class="span3">
	<div class="thumbnail">
		<f:if condition="{book.image}">
			<f:then><m:image image="{book.image}" alt="{book.title}" maximumWidth="300" maximumHeight="200"  /></f:then>
			<f:else><img src="http://placehold.it/300x300" width="300" height="300" alt="" /></f:else>
		</f:if>
		<div class="caption">
			<h5><f:link.action action="show" arguments="{book: book}">{book.title}</f:link.action></h5>
			<p>{book.category.name}</p>
			<p>{book.description}</p>
			<p><strong><f:format.number>{book.price}</f:format.number> €</strong> <f:link.action action="add" controller="Basket" arguments="{book: book}" class="btn pull-right"><i class="icon-shopping-cart"></i> Buy</f:link.action></p>
            <f:security.ifHasRole role="editor">
                <f:then>
                    <f:link.action action="edit" arguments="{book: book}"><i class="icon-edit"></i></f:link.action>
                    <f:security.ifHasRole role="admin">
                        <f:link.action action="delete" arguments="{book: book}"><i class="icon-trash"></i></f:link.action>
                    </f:security.ifHasRole>
                </f:then>
            </f:security.ifHasRole>
		</div>
	</div>
</li>
