<!DOCTYPE html>
{namespace bootstrap=TYPO3\Twitter\Bootstrap\ViewHelpers}
{namespace m=TYPO3\Media\ViewHelpers\ImageViewHelper}
<html xmlns:f="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<title>
		<f:render section="Title"/>
	</title>
	<f:base/>
	<bootstrap:include/>
</head>
<body>
<div class="container">
	<p></p>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<f:link.action action="index" controller="Book" class="brand">roebooks.com</f:link.action>
				<div class="nav-collapse">
					<ul class="nav">
						<f:if condition="{controller.book}">
							<f:then>
								<li class="active">
									<f:link.action action="index" controller="Book">
										<i class="icon-book"></i>
										Books
									</f:link.action>
								</li>
							</f:then>
							<f:else>
								<li>
									<f:link.action action="index" controller="Book">
										<i class="icon-book"></i>
										Books
									</f:link.action>
								</li>
							</f:else>
						</f:if>
                        <f:if condition="{controller.category}">
				    	    <f:then>
								<li class="active">
									<f:link.action action="index" controller="Category">
										<i class="icon-tag"></i>
										Categories
    							    </f:link.action>
	    						</li>
		    				</f:then>
			    			<f:else>
				    			<li>
					    			<f:link.action action="index" controller="Category">
						    			<i class="icon-tag"></i>
							    		Categories
								    </f:link.action>
    							</li>
	    					</f:else>
		    			</f:if>
						<f:if condition="{basket}">
							<f:if condition="{controller.basket}">
								<f:then>
									<li class="active">
										<f:link.action action="index" controller="Basket">
											<i class="icon-shopping-cart"></i>
											Basket
											<f:if condition="{basket.items}">
												<span class="badge badge-success">{basket.items -> f:count()}</span>
											</f:if>
										</f:link.action>
									</li>
								</f:then>
								<f:else>
									<li>
										<f:link.action action="index" controller="Basket">
											<i class="icon-shopping-cart"></i>
											Basket
											<f:if condition="{basket.items}">
												<span class="badge badge-success">{basket.items -> f:count()}</span>
											</f:if>
										</f:link.action>
									</li>
								</f:else>
							</f:if>
						</f:if>
					</ul>
                    <div class="pull-right" style="width:150px;text-align: right;font-size: smaller;">
                        <f:security.ifAuthenticated>
                            <f:then>
                                Welcome {account.accountIdentifier}.
                                <br />
                                <f:link.action action="logout" controller="Login">Logout</f:link.action>
                            </f:then>
                            <f:else>
                                <f:link.action action="login" controller="Login">Login</f:link.action>
                                <br />
                                <f:link.action action="signup" controller="Login">Sign up</f:link.action>
                            </f:else>
                        </f:security.ifAuthenticated>
                    </div>
					<form class="navbar-search pull-right" action="/roebooks.shop/book/search">
						<f:if condition="{searchTerm}">
							<f:then>
								<input type="text" class="search-query span2" placeholder="Search" name="q" value="{searchTerm}" />
							</f:then>
							<f:else>
								<input type="text" class="search-query span2" placeholder="Search" name="q" />
							</f:else>
						</f:if>
					</form>
				</div>
			</div>
		</div>
	</div>
    <h2>
        <f:render section="Title"/>
    </h2>
	<f:flashMessages as="flashMessages">
		<ul class="unstyled">
			<f:for each="{flashMessages}" as="flashMessage">
				<li><i class="icon-info-sign"></i> {flashMessage}</li>
			</f:for>
		</ul>
	</f:flashMessages>
	<f:render section="Content"/>
</div>
</body>
</html>
