<f:layout name="Default" />

<f:section name="Title">Book Categories</f:section>

<f:section name="Content">
	<f:if condition="{categories}">
		<f:then>
			<table class="table table-bordered table-striped" style="width: 100%;">
                <thead>
                    <tr>
                        <th>
                            Category
                        </th>
                        <f:security.ifHasRole role="editor">
                            <th style="width:50px;">
                                Actions
                            </th>
                        </f:security.ifHasRole>
                    </tr>
                </thead>
				<f:for each="{categories}" as="category">
					<tr>
						<td>
							<f:link.action action="show" arguments="{category: category}">{category.name}</f:link.action>
						</td>
                        <f:security.ifHasRole role="editor">
						    <td>
					            <f:link.action action="edit" arguments="{category: category}" style="margin-left:6px;"><i class="icon-edit"></i></f:link.action>
                                <f:security.ifHasRole role="admin">
							        <f:link.action action="delete" arguments="{category: category}" style="margin-left:6px;"><i class="icon-trash"></i></f:link.action>
                                </f:security.ifHasRole>
						    </td>
                        </f:security.ifHasRole>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p>No categories created yet.</p>
		</f:else>
	</f:if>
    <f:security.ifHasRole role="editor">
	    <p>
            <f:link.action class="btn" action="new">
                <i class="icon-plus"></i> Create a new category
            </f:link.action>
        </p>
    </f:security.ifHasRole>
</f:section>
