<f:layout name="Default" />

<f:section name="Title">New category</f:section>

<f:section name="Content">

	<f:form action="create" name="newCategory" class="form form-horizontal well">
        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <f:form.textfield property="name" id="name" class="input-xlarge" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <f:form.submit value="Create" class="btn btn-primary" />
                <f:link.action action="index" class="btn">Cancel</f:link.action>
            </div>
        </div>
	</f:form>

</f:section>
