<f:layout name="Default" />

<f:section name="Title">Show category "{category.name}"</f:section>

<f:section name="Content">
	<f:if condition="{category.books}">
		<f:then>
			<p>The books in this category:</p>
			<div class="span12">
				<ul class="thumbnails">
					<f:for each="{category.books}" as="book">
						<f:render partial="Book" arguments="{ book: book }" />
					</f:for>
				</ul>
			</div>
		</f:then>
		<f:else>
			<p>No books in this category.</p>
		</f:else>
	</f:if>
	<f:link.action action="index">Back</f:link.action>
</f:section>