{namespace m=TYPO3\Media\ViewHelpers}

<f:layout name="Default" />

<f:section name="Title">{book.title}</f:section>

<f:section name="Content">
	<f:render partial="FormErrors" arguments="{for: 'book'}" />
	<f:form action="update" name="book" object="{book}" enctype="multipart/form-data">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="title">Title</label>
				<div class="controls">
					<f:form.textfield property="title" id="title" class="input-xlarge" />
				</div>
			</div>
			<f:if condition="{categories}">
				<div class="control-group">
					<label class="control-label" for="category">Category</label>
					<div class="controls">
						<f:form.select property="category" options="{categories}" optionLabelField="name" id="category" /><br />
					</div>
				</div>
			</f:if>
			<div class="control-group">
				<div class="input-prepend input-append">
					<span class="add-on">€</span>
					<f:form.textfield property="price" id="price" class="input-small" />
					<span class="add-on">.00</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="image">Image</label>
				<div class="controls">
					<f:if condition="{book.image}">
						<f:then>
                            <m:image image="{book.image}" alt="Cover" maximumWidth="60" maximumHeight="60" />
                        </f:then>
						<f:else><img src="http://placehold.it/60x60" width="60" height="60" alt="" /></f:else>
					</f:if>
					<f:form.upload property="image.resource" id="image" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="description">Description</label>
				<div class="controls">
					<f:form.textarea property="description" id="description" class="input-xlarge" cols="" rows="3" />
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Update</button>
			<f:link.action action="index" class="btn">Cancel</f:link.action>
		</fieldset>
	</f:form>
</f:section>
