<f:layout name="Default"/>

<f:section name="Title">Overview</f:section>

<f:section name="Content">
	<f:if condition="{books}">
		<f:then>
			<p>We have this fine selection of a handful of books. Buy them while you still can.</p>
			<div class="span12">
				<ul class="thumbnails">
					<f:for each="{books}" as="book">
						<f:render partial="Book" arguments="{ book: book }" />
					</f:for>
				</ul>
			</div>
		</f:then>
		<f:else>
			<p>No books created yet.</p>
		</f:else>
	</f:if>
    <f:security.ifHasRole role="editor">
        <f:then>
            <p>
                <f:link.action class="btn" action="new">
                    <i class="icon-plus"></i> Create a new book
                </f:link.action>
            </p>
        </f:then>
    </f:security.ifHasRole>
</f:section>
