<f:layout name="Default"/>

<f:section name="Title">Search Results</f:section>

<f:section name="Content">
	<f:if condition="{books}">
		<f:then>
			<p>These are exactly the books you are looking for:</p>
			<div class="span12">
				<ul class="thumbnails">
					<f:for each="{books}" as="book">
						<f:render partial="Book" arguments="{ book: book }" />
					</f:for>
				</ul>
			</div>
		</f:then>
		<f:else>
			<p>No books found. Sorry.</p>
		</f:else>
	</f:if>
</f:section>